<include file="Index/header"/>
<style>
    .small-img{
        height: auto;
        width: 30%;
    }
    .my-img{
        width: 100%;
    }
</style>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{$scenery.scenery_name}景点详情</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    子项列表
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table id="table" class="table table-trip table-hover">
                        <thead>
                            <tr>
                                <th>子项名称</th>
                                <th>图片</th>
                                <th>小图标</th>
                                <th>音频操作</th>
                                <th>描述</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
</div>
<!-- /#wrapper -->
<script type="text/javascript">
    $(document).ready(function() {
        loadData();
    });

    function loadData(){
        var scenery_id = '{$scenery.scenery_id}';
        $.ajax({
            url: '{:U("Admin/Index/getSubscenery")}',
            type: 'post',
            dataType: 'json',
            data:{scenery_id:scenery_id}
        })
        .done(function(data) {
            //console.log(data);
            $('#table').dataTable().fnClearTable(); 
            $('#table').dataTable({
                "bProcessing": true,
                "bFilter": true,
                "bDestroy": true,
                "oLanguage" : {
                            "sLengthMenu": "每页显示 _MENU_ 条记录",
                            "sZeroRecords": "抱歉， 没有找到",
                            "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                            "sInfoEmpty": "没有数据",
                            "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                            "sZeroRecords": "没有检索到数据",
                             "sSearch": "搜索：&nbsp",
                            "oPaginate": {
                                "sFirst": "首页",
                                "sPrevious": "上页",
                                "sNext": "下页",
                                "sLast": "尾页"
                            }
                     },
                "sPaginationType" : "full_numbers",
                data: data,
                columns: [
                    { data: 'sub_scenery_name' },
                    { data: 'img' },
                    { data: 'logo'},
                    { data: 'download' },
                    { data: 'article' },
                    {data:'operation'}
                ]
            });
        })
        .fail(function() {
            //console.log("error");
            alert('链接服务器失败，请检查环境');
        })
    }

function del(sub_scenery_id){
    if(!confirm("确认删除？")){
        return;
    }
    $.ajax({
        cache: false,
        url: '{:U("Admin/Index/subdel/")}',
        type: 'post',
        dataType: 'json',
        data: {
            'sub_scenery_id' : sub_scenery_id
        }
    })
    .done(function(data){
        loadData();
    });
}
</script>
</body>
</html>