<include file="Index/header"/>
<body>
<header class="header">
    <div id="back-btn" class="glyphicon glyphicon-chevron-left header-left-btn"></div>
    天津大学
</header>
<br>
<div class="sub-header">景点列表</div>
<div class="list">
    <div class="item">
        aaa
    </div>
    <div class="item">
        aaa
    </div>
    <div class="item">
        aaa
    </div>
</div>
</br>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $(".item").on("click", function(e) {
        window.location.href = "{:U('/Home/Index/detail')}";
    });

    $("#back-btn").on("click", function () {
        window.history.back();
    });
});
</script>
</body>
</html>