<include file="Index/header"/>
<body>
<header class="header">
    <div id="back-btn" class="glyphicon glyphicon-chevron-left header-left-btn"></div>
    天津大学
</header>
<br>
<div class="sub-header">景点列表</div>
<div class="list">
    <foreach name="sub_scenery_data" item="data_item" >
        <div class="item">
            {$data_item.sub_scenery_name}
        </div>
    </foreach>
</div>
</br>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $(".item").on("click", function(e) {
        window.location.href = "{:U('/Home/Index/detail')}";
    });

    $("#back-btn").on("click", function () {
        window.history.back();
    });
});
</script>
</body>
</html>